body #calc_result a {
  color: #6163FF !important;
}

.partners-list {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;

  @media (max-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }

  img {
    width: 100%;
  }
}